onboarding-two{
	
}
.item-select{
	padding-top:1em;
}
.typeCheck{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 26px;
    background: #488aff;
    color: white;
    outline: none;
    font-size: 12px;
    margin: 0 7vw;
}
.typeBox{
	display:flex;
	text-align:center;
	background:#fff;
}
.checktick{
	margin:0 !important;
}
.checkbox-md .checkbox-icon{
	border:none;
	background:#488aff;
}
.industry{
	max-width:80% !important;
}