<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			My Connections
		</ion-title>
		<ion-buttons end>
			<button (click)="goChats()" ion-button icon-only>
				<ion-icon name="chatbubbles"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list class="chat-list">
		<!-- <ion-item  class="item-remove-animate item-avatar item-icon-right" [ngClass]="{online: contact.online}" *ngFor="let contact of contactService.contacts"  (click)="chat(contact.id)" (press)="contactCard(contact)" type="item-text-wrap">
			<ion-avatar item-left>
				<user-image [contact]=contact></user-image>
    		</ion-avatar>
			<h2>{{contact.name || contact.username}}</h2>
		</ion-item> -->
		<ion-item-sliding #item class="conn-slide" *ngFor="let contact of contactService.contacts; let i=index" >
	    <ion-item>
	      <div class="conn-list-item">
	       <div class="thumbnail">
	         <img src={{contact.image}} class="connection-image">
	       </div>
	       <div class="conn-content">
	         <span>{{contact.name}}</span> <br>
	         <!-- <span>Meeting : 7:00 P.M to 10 P.M</span> -->
	       </div> 
	      </div>
	    </ion-item>

	    <ion-item-options side="right">
	      <button class="slide-button" ion-button (click)="chat(contact.id)">
	        <ion-icon name="chatboxes"></ion-icon>
	        Chat
	      </button>
	      <button ion-button class="slide-button" (click)="createCall(i)">
	        <ion-icon name="call"></ion-icon>
	        Call
	      </button><button class="slide-button" ion-button (click)="schedule(i)">
	        <ion-icon name="calendar"></ion-icon>
	        Meet
	      </button>
	    </ion-item-options>
	  </ion-item-sliding>
	</ion-list>
</ion-content>