.user-list{
	margin-top:3vh
}
.search-user{
	margin-top:10vh;
}
plannerTwo{

	.content{
		background:linear-gradient(to bottom, #00a9ff 0%, #2b6ad8 10%, #FFFFFF 10%, #ffffff 10%, #ffffff 100%);
	}	
}
