on-one {
	
.content{
	background:white;
}

}

.onboarding-thumb{
	text-align: center;
}
.onboarding-input{
	padding-top:1em;
}
.range-md .range-knob-handle .range-pin {
  transform: translate3d(0, 0, 0) scale(1); }

.range-md:not(.range-has-pin) .range-knob-handle .range-knob {
  transform: scale(1); }

.range-ios .range-knob-handle .range-pin {
  transform: translate3d(0, 0, 0) scale(1); }

.onboarding-next{
	text-align:right;
	padding: 1em;
}
.onboarding-range{
	
	padding-top: 2.2em;
}
.item-select{
	padding-top:1em;
}
ion-button{
	padding:1em;
}
.form-content{
	width:100vw;
	padding:2em;
}
.form-label{
	font-size:16px;
	font-weight:600;

}