on-one {
.item-md{
	padding: 0 2em;
}
.text-input{
	color:#5e8af2;
}
ion-select{
	color:#5e8af2;
}
ion-datetime{
	color:#5e8af2;
}	
.content{
	background:white;
}

}

.onboarding-thumb{
	text-align: center;
	padding-top:2em;
}
.onboarding-input{
	padding-top:1em;
}


.onboarding-next{
	text-align:right;
	padding: 1em;
}
.onboarding-range{
	
	padding-top: 1em;
}
.item-select{
	padding-top:1em;
}
ion-button{
	padding:1em;
}
.form-content{
	width:100vw;
	padding:0 1em;
}
.form-label{
	font-size:16px;
	font-weight:600;

}
.datetime{
	padding-top:1em;
}

.range-knob{
	display:none;
}
.range-bar{
	height:8px !important;
	border-radius:2em;
}