onboarding-two{
	
}
.item-select{
	padding-top:1em;
}
.hobby{
	border-style: solid;
    border-radius: 2em;
    padding: 10px;
    margin: 4px;
    border-width: thin;
    border-color: cornflowerblue;
}