.no-event{
	padding:1em;
	text-align:center;
}
calendar{
	.content{
		background:linear-gradient(to bottom, #00a9ff 0%, #2b6ad8 10%, #FFFFFF 10%, #ffffff 10%, #ffffff 100%);
	}
}

.calendar-image{
	border-radius:50%;
	width:10vh;
	margin-top:30%;
}
.calendar-content{
	text-align:left;
	padding-left:5%;
	color:grey;
	font-size:16px;
}