<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Discover</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openNotifications()">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="points" style="height:3vh">
    <span *ngIf="showPoints"> +2 Points</span> 
  </div>
  <ion-slides class="dsc-slides" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let item of items; let i=index" class="iris-slide">
      <ion-card class="discover-card">
        <ion-card-content>
          <div class="discover-thumb">
            <img src="{{item.pictureUrl}}" class="discover-pic">
          </div>
          <ion-card-title class="discover-title">
            {{item.fullName}}
            </ion-card-title>
          <p class="headline">
            {{item.designation}} at {{item.currentWorkplace}}
          </p>
          <p class="headline">
            {{item.distance}} km away.
          </p>
          <rating [(ngModel)]='rate[i]' readOnly="false"></rating>
          <div style="width:80%;margin-left: 10%;padding-bottom: 1em">
            <div *ngFor="let skillItem of item.skills" style="border-radius: 30px;display: inline-block;color: #656565;padding: 2px 7px;margin:2px; font-size:12px;background: #dadada;">{{skillItem.skill}}</div>
          </div>
          
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <div class="connect-btn">
    <button ion-button round [disabled]=isConnected (click)="connect()">{{isConnected?'Request Sent':'Connect'}}</button>
  </div>
  
</ion-content>
