.user-list{
	margin-top:3vh
}
.search-user{
	margin-top:10vh;
}
plannerOne{
	.conn-content{
	text-align:left;
	padding-top:10%;
	padding-left:5%;
	color:grey;
	font-size:16px;
}
.connection-image{
	border-radius:50%;

}
.conn-list-item{
	display:flex;
}	
}
